@charset "ISO-8859-1";

.display-3{
	font-size:40px;
}

.btn-login{
	margin-top:1rem;
}

.jumbotron{
	padding-bottom: 2rem;
	font-weight: bold;
}

.captcha-code-row{
	margin-top: 1rem;
}

.error-message{
	color: red;
}

.recovery-message,
.recovery-message:hover{
	font-size: 17px;
	color: #00bfff;
}