@charset "ISO-8859-1";

h5{
	text-shadow: none;
}

.profile-container{
	padding: 0rem;
	margin-top: 3rem;
	margin-bottom: 0rem;
	background-color: transparent;
	color: #888;
	border-radius: 2rem;
}

.nav-pills{
	background-color: transparent;
	border-radius: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	
}

.pills-item{
	padding: 0.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-right: 3rem;
	margin-left: 3rem;
	border-radius: 2rem;
	font-size: 23px;
	font-weight: bold;
	color: #f5f5f1;
}

.pills-item-btc{
	background-color: #f2a900;
}

.pills-item-eth{
	background-color: #c99d66;
}

.pills-item-bch{
	background-color: #ec8010;
}

.pills-item-ltc{
	background-color: #00aeff;
}

.pills-item:hover{
	text-decoration: none;
	color: #fff;
}

.btc{
	color: #f2a900;
}

.eth{
	color: #c99d66;
}

.bch{
	color: #ec8010;
}

.ltc{
	color: #00aeff;
}

.card{
	margin-bottom: 1rem;
	border-radius: 2rem;
	border-width: 1.5px;
}

.card-bronze{
	border-color: #cd7f32;
	background-color: #fff5cf;
	color: #cd7f32;
}

.card-bronze > .card-header, .card-bronze > .card-footer{
	background-color: #cd7f32;
}

.card-bronze > .card-footer > div > .btn {
	background-color: #cd7f32;
	color: #fff;
}

.card-silver{
	border-color: #aaa9ad;
	background-color: #f5f5f1;
	color: #aaa9ad;
}

.card-silver > .card-header, .card-silver > .card-footer{
	background-color: #aaa9ad;
}

.card-silver > .card-footer > div > .btn {
	background-color: #aaa9ad;
	color: #fff;
}

.card-gold{
	border-color: #ffbf00;
	background-color: #ffffda;
	color: #ffbf00;
}

.card-gold > .card-header, .card-gold > .card-footer{
	background-color: #ffbf00;
}

.card-gold > .card-footer > div > .btn {
	background-color: #ffbf00;
	color: #fff;
}

.card-black{
	border-color: #000;
	background-color: #e1efe1;
	color: #333;
}

.card-black > .card-header, .card-black > .card-footer{
	background-color: #000;
}

.card-black > .card-footer > div > .btn {
	background-color: #000;
	color: #fff;
}

.card:hover{
	border-color: transparent;
}

.card-eth:hover{
	border-color: #ecf0f1;
}

.card-body{
	text-align: center;
	padding-right: 2.5rem;
	padding-left: 2.5rem;
	padding-bottom: 0.2rem;
}

.card-header{
	margin-bottom: -1rem;
	padding-bottom: 0rem;
	margin-top: 0rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 2rem;
	border-bottom-left-radius: 0rem;
	border-bottom-right-radius: 0rem;
}

.card-footer{
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}

.card-header:first-child{
    border-top-left-radius: 1.9rem;
	border-top-right-radius: 1.9rem;
	border-bottom-left-radius: 0rem;
	border-bottom-right-radius: 0rem;
	margin-right:-0.011rem;
}
.card-footer:last-child{
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
	border-bottom-left-radius: 1.9rem;
	border-bottom-right-radius: 1.9rem;
	margin-right: -0.01rem;
} 

.card-text-head{
	color: efe;
}

.card-title{
	font-size: xx-large;
	font-weight: bold;
}

.card-title-bch{
	font-size: 27px;
	font-weight: bold;
	margin-bottom: 0.75rem;
	margin-top: 0.38rem;
}

.card-text-plan{ 
	font-size: larger;
	font-weight: 600;
}

.card-text-cost{
	color: #6d6d6b;
	font-weight: bold;
	font-size: xx-large;
}

.card-text-rate{
	font-size:x-large;
	margin-bottom: 0.5rem;
}

.card-text-time{
	margin-bottom: 0rem;
}

.card-text-time-eth{
	color: #3c3c3d;
}

.card-text-type{
	margin-bottom: 0rem;
}

.card-text-type-eth{
	color: #3c3c3d;
}

.btn1-col{
	margin-bottom: 1rem;
}

.btn{
	background-color: #fff;
	color: #888;
	border-color: #ccc;
	border-radius: 0.7rem;
}

.btn:hover{
	background-color: #f7941d;
	border-color: #fff;
}

.btn-eth:hover{
	background-color: #c99d66;
	border-color: #ecf0f1;
}