@charset "ISO-8859-1";
.tooltip > .tooltip-inner {
  border: 1px;
  padding: 5px;
  max-width: none;
  color: black;
  text-align: left;
  background-color: black;
  background: black;
   
  opacity: 1.0;
  filter: alpha(opacity=100);
} 
   
.tooltip > .tooltip-arrow {
	border-bottom-color:black; 
	
}

.tooltip.in{
	opacity:1!important;
	max-width: none;
}